<body>
  <div class="inventory-management-page">
    <main>
      <h1>Inventory Management</h1>

      <!-- Flash message -->
      <% if (messages && messages.notice && messages.notice.length > 0) { %>
      <ul class="flash">
          <% messages.notice.forEach(function(msg) { %>
          <li><%= msg %></li>
          <% }) %>
      </ul>
      <% } %>

      <p>Choose an option below:</p>
      <ul>
        <li><a href="/inv/add-classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
      </ul>
    </main>
  </div>
</body>
