<!-- views/errors/error.ejs -->
<%- include('../partials/header') %>

<main>
  <h1><%= title %></h1>
  <p><%- message %></p>

  <div class="funny-error">
    <p>😅 Oops! Something went sideways...</p>
    <p><a href="/">Return to the homepage</a></p>
  </div>
</main>

<%- include('../partials/footer') %>
